body {
    background-color: gray;
    height: 100vh;
    width: 100wh;
    overflow: hidden;
}

.container {
    background-color: teal;
    height: 460px;
    width: 350px;
    margin-left: 450px;
    margin-top: 50px;
    position: relative;
}

#display {
    height: 50px;
    width: 310px;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: right;

}

.btn {
    height: 52px;
    width: 60px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.operators {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 250px;
}

.clear button {
    width: 90px;
}